[Desktop Entry]
Icon=text-html
Name=https://free3d.com/3d-model/low-poly-tree-73217.html
Type=Link
URL[$e]=https://free3d.com/3d-model/low-poly-tree-73217.html
